.updates {

  padding: 60px 50px;
  background: #111827;
  color: white;
  text-align: center;

}


.updates h2 {

  font-size: 40px;
  color: #ff4500;
  margin-bottom: 40px;

}


.update-container {

  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;

}


.update-card {

  width: 300px;
  padding: 30px;

  background: #1e293b;

  border-radius: 15px;

  transition: 0.3s;

}


.update-card:hover {

  transform: translateY(-10px);

}


.update-card h3 {

  color: #ff6a00;

}


.update-card p {

  color: #ddd;
  line-height: 1.6;

}


.update-card button {

  margin-top: 15px;

  padding: 10px 25px;

  background: #ff4500;
  color: white;

  border: none;
  border-radius: 8px;

  cursor: pointer;

}