.register-page {

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 70px;

  background: linear-gradient(
    135deg,
    #09090b,
    #172554
  );

}


/* Register Box */

.register-box {

  width: 400px;

  padding: 40px;

  background: #111827;

  border-radius: 20px;

  text-align: center;

  color: white;

  border: 2px solid #38bdf8;

  box-shadow:
  0 0 25px rgba(56,189,248,0.5);

}


/* Heading */

.register-box h1 {

  font-size: 36px;

  color: #ff6a00;

  margin-bottom: 30px;

}


/* Input */

.register-box input {

  width: 100%;

  padding: 15px;

  margin: 12px 0;

  box-sizing: border-box;

  background: #1e293b;

  border: 1px solid #334155;

  border-radius: 10px;

  color: white;

  font-size: 16px;

  outline: none;

}


.register-box input:focus {

  border-color: #38bdf8;

  box-shadow: 0 0 10px #38bdf8;

}


/* Button */

.register-box button {

  width: 100%;

  padding: 15px;

  margin-top: 20px;

  background: #ff4500;

  color: white;

  border: none;

  border-radius: 10px;

  font-size: 18px;

  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;

}


.register-box button:hover {

  background: #ff6a00;

  transform: scale(1.05);

}


/* Login Link */

.register-box p {

  margin-top: 25px;

  color: #cbd5e1;

}


.register-box a {

  color: #38bdf8;

  text-decoration: none;

  margin-left: 5px;

  font-weight: bold;

}


.register-box a:hover {

  color: #ff4500;

}


/* Mobile */

@media(max-width:768px){

  .register-box {

    width: 85%;

    padding: 30px;

  }


  .register-box h1 {

    font-size: 30px;

  }

}