.tournament {
  padding: 70px 50px;
  text-align: center;
  background: #09090b;
  color: white;
}


.tournament h2 {
  font-size: 42px;
  color: #ff4500;
  margin-bottom: 20px;
}


.tournament p {
  font-size: 20px;
  color: #d1d5db;
  margin-bottom: 35px;
}


.tournament button {
  padding: 15px 40px;

  background: #ff4500;
  color: white;

  border: none;
  border-radius: 10px;

  font-size: 18px;
  font-weight: bold;

  cursor: pointer;
  transition: 0.3s;
}


.tournament button:hover {
  background: #ff6a00;
  transform: scale(1.08);
}


@media (max-width: 768px) {

  .tournament {
    padding: 50px 20px;
  }

  .tournament h2 {
    font-size: 32px;
  }

  .tournament p {
    font-size: 16px;
  }

  .tournament button {
    padding: 12px 30px;
  }

}

